<div class="row aligned-row" style="padding:10px 10px 0px 20px">
  <div class="col-md-6 jumbotron" style="background-color:#dfe3ee">
    <h2 style="text-align:center;">@{{model.user.username}}</h2>
    <p style="text-align:center;">{{model.user.name}}</p>
  </div>
  <div class="col-md-6" style="height:247px">
    <div class="well well-sm" style="background-color:#dfe3ee">
        Current Employer: {{model.user.company.name}}
    </div>
    <div class="well well-sm" style="background-color:#dfe3ee">
        Email Address: <a href="mailto:{{model.user.email}}">{{model.user.email}}</a>
    </div>
    <div class="well well-sm" style="background-color:#dfe3ee">
        Phone Number: {{model.user.phone}}
    </div>
    <div class="well well-sm" style="background-color:#dfe3ee">
        Website: <a href="https://{{model.user.website}}">{{model.user.website}}</a>
    </div>
  </div>
</div>
<div class="container" style="padding:0px 35px 0px 6px">
  <iframe
    width=100%
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCgosHiVoIN_9sSlD6zXl6R4edttt4_LTg
      &q={{model.user.address.geo.lng}},{{model.user.address.geo.lat}}" allowfullscreen>
  </iframe>
</div>
<div class="row aligned-row" style="padding:10px 0px 0px 5px">
  <div class="col-md-4">
    <h1 style="text-align:center">Posts by {{model.user.username}}</h1>
    {{#each model.post as |post|}}
      <div class="panel panel-default" >
        <div class="panel-heading" style="background-color:#dfe3ee">
          <h3 class="panel-title" style="text-align:left"><a style="color:blue">
            {{#link-to "user" post.userId.id}}@{{post.userId.username}}{{/link-to}}</a> - {{post.title}}
          </h3>
        </div>
        <div class="panel-body" style="color:black;text-align:left">
          {{post.body}}
        </div>
        {{#each post.comment as |comment|}}
        <ul class="custom-bullet">
          <li>
            <div class="panel panel-default" style="padding:0px 0px 0px 0px">
              <div class="panel-heading" style="background-color:#dfe3ee">
                <h3 class="panel-title" style="text-align:left">{{comment.email}}</h3>
              </div>
              <div class="panel-body" style="color:black;text-align:left">
                {{comment.body}}
              </div>
            </div>
          </li>
        </ul>
        {{/each}}
      </div>
    {{/each}}
  </div>
  <div class="col-md-8">
    <h1 style="text-align:center">{{model.user.username}}'s Albums</h1>
      {{#each model.user.album as |album|}}
        <div class="well well-sm" style="background-color:#dfe3ee">
          <h2 style="text-align:center">{{album.title}}</h2>
            <div class="row" >
              {{#each album.photo as |photo|}}
              <div class="col-xs-6 col-md-3">
              <a href="/photos/album/{{album.id}}" class="thumbnail" style="background-color:#3b5998">
              <img src="{{photo.thumbnailUrl}}" alt="{{photo.url}}">
              </a>
              </div>
              {{/each}}
            </div>
        </div>
      {{/each}}
  </div>
</div>
{{outlet}}
